.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  background-color: #282c34;
}
body {
  overflow: scroll;
 }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.tooltipEl{
  visibility: hidden;
  background-color: palevioletred;
  color: aliceblue;
  border: 1px solid purple;
  border-radius: 3px;
  padding: 10px;
  padding-top: 8px;
}
h5{
  margin: 0;
  margin-left: 5px;
  padding: 6px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

